In [1]:
# route = 87
# stop = 21062
# table_name = 'stop_approaches_log_' + str(route)

In [2]:
route = 119
stop = 30189
table_name = 'stop_approaches_log_' + str(route)

In [3]:
# relative import
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 

from src.lib import ReportCard

In [4]:
from mysql.connector import connection
import pandas as pd

In [5]:
db_user ='buswatcher'
db_password = 'njtransit'
db_host = 'localhost'
db_name = 'buses'

In [6]:
conn = connection.MySQLConnection(user=db_user, password=db_password, host=db_host, database=db_name)
cursor = conn.cursor(buffered=True)

In [7]:
# pluck out the 'final approach' data for a single stop - only observations with predicted time 'APPROACHING'
query = ('SELECT * FROM %s WHERE (stop_id=%s AND pt="APPROACHING") ORDER BY stop_id,timestamp;' % (table_name,stop))

In [8]:
df = pd.read_sql_query(query, conn)
df = df.drop(columns=['cars','consist','fd','m','name','rn','scheduled','stop_name'])

In [9]:
def timestamp_fix(data): # trim the microseconds off the timestamp and convert it to datetime format
    data['timestamp'] = data['timestamp'].str.split('.').str.get(0)
    data = data.set_index(pd.DatetimeIndex(data['timestamp']))
    # data = data.set_index(pd.DatetimeIndex(data['timestamp']), drop=False)
    return data
df=timestamp_fix(df)

In [10]:
# frequency count of vehicles observations

print "df ( stop", 30189, ")"
print "bus","\t","approaches_obsvd"
for v in df.v.unique():
    df_v = df.loc[df.v == v]
    print v,"\t", df_v.shape[0]
    # for index, row in df_v.iterrows():
        # print row.index
        # print type(row['timestamp'])

df ( stop 30189 )
bus 	approaches_obsvd
6010 	3
6047 	3
6028 	1
6022 	4
6020 	8
6194 	4
6200 	4
6021 	10
6007 	7
6018 	2
6009 	2

In [11]:
df
# this is basically the 'final approach' log for a stop, in chronlogical order

,pkey,pt,rd,stop_id,v,timestamp
timestamp,,,,,,
2018-08-02 16:53:41,248,APPROACHING,119,30189,6010,2018-08-02 16:53:41
2018-08-02 16:54:12,426,APPROACHING,119,30189,6010,2018-08-02 16:54:12
2018-08-02 16:54:36,601,APPROACHING,119,30189,6010,2018-08-02 16:54:36
2018-08-02 17:20:13,6328,APPROACHING,119,30189,6047,2018-08-02 17:20:13
2018-08-02 17:20:36,6514,APPROACHING,119,30189,6047,2018-08-02 17:20:36
2018-08-02 17:21:12,6702,APPROACHING,119,30189,6047,2018-08-02 17:21:12
2018-08-02 17:53:25,21457,APPROACHING,119,30189,6028,2018-08-02 17:53:25
2018-08-03 08:41:14,52441,APPROACHING,119,30189,6022,2018-08-03 08:41:14
2018-08-03 08:41:16,52485,APPROACHING,119,30189,6022,2018-08-03 08:41:16
2018-08-03 08:41:17,52501,APPROACHING,119,30189,6022,2018-08-03 08:41:17
2018-08-03 08:41:20,52532,APPROACHING,119,30189,6022,2018-08-03 08:41:20
2018-08-03 08:56:41,61889,APPROACHING,119,30189,6020,2018-08-03 08:56:41
2018-08-03 08:56:46,61916,APPROACHING,119,30189,6020,2018-08-03 08:56:46
2018-08-03 08:57:11,62163,APPROACHING,119,30189,6020,2018-08-03 08:57:11
2018-08-03 08:57:11,62178,APPROACHING,119,30189,6020,2018-08-03 08:57:11
2018-08-03 08:57:14,62216,APPROACHING,119,30189,6020,2018-08-03 08:57:14
2018-08-03 08:57:15,62232,APPROACHING,119,30189,6020,2018-08-03 08:57:15
2018-08-03 08:57:40,62476,APPROACHING,119,30189,6020,2018-08-03 08:57:40
2018-08-03 08:57:44,62503,APPROACHING,119,30189,6020,2018-08-03 08:57:44
2018-08-03 08:58:12,62751,APPROACHING,119,30189,6194,2018-08-03 08:58:12
2018-08-03 08:58:14,62771,APPROACHING,119,30189,6194,2018-08-03 08:58:14
2018-08-03 08:58:17,62806,APPROACHING,119,30189,6194,2018-08-03 08:58:17
2018-08-03 08:58:18,62821,APPROACHING,119,30189,6194,2018-08-03 08:58:18
2018-08-03 09:32:15,73160,APPROACHING,119,30189,6200,2018-08-03 09:32:15
2018-08-03 09:32:30,73276,APPROACHING,119,30189,6200,2018-08-03 09:32:30
2018-08-03 09:32:42,73371,APPROACHING,119,30189,6200,2018-08-03 09:32:42
2018-08-03 09:32:57,73487,APPROACHING,119,30189,6200,2018-08-03 09:32:57
2018-08-03 09:39:35,76785,APPROACHING,119,30189,6021,2018-08-03 09:39:35
2018-08-03 09:39:48,76859,APPROACHING,119,30189,6021,2018-08-03 09:39:48
2018-08-03 09:40:03,76955,APPROACHING,119,30189,6021,2018-08-03 09:40:03
2018-08-03 09:40:07,76988,APPROACHING,119,30189,6021,2018-08-03 09:40:07
2018-08-03 09:40:16,77097,APPROACHING,119,30189,6021,2018-08-03 09:40:16
2018-08-03 09:40:19,77142,APPROACHING,119,30189,6021,2018-08-03 09:40:19
2018-08-03 09:40:32,77293,APPROACHING,119,30189,6021,2018-08-03 09:40:32
2018-08-03 09:40:44,77368,APPROACHING,119,30189,6021,2018-08-03 09:40:44
2018-08-03 09:40:58,77466,APPROACHING,119,30189,6021,2018-08-03 09:40:58
2018-08-03 09:51:46,82276,APPROACHING,119,30189,6007,2018-08-03 09:51:46
2018-08-03 09:52:01,82353,APPROACHING,119,30189,6007,2018-08-03 09:52:01
2018-08-03 09:52:04,82383,APPROACHING,119,30189,6007,2018-08-03 09:52:04
2018-08-03 09:52:13,82475,APPROACHING,119,30189,6007,2018-08-03 09:52:13
2018-08-03 09:52:16,82506,APPROACHING,119,30189,6007,2018-08-03 09:52:16
2018-08-03 09:52:32,82633,APPROACHING,119,30189,6007,2018-08-03 09:52:32
2018-08-03 09:52:43,82695,APPROACHING,119,30189,6007,2018-08-03 09:52:43
2018-08-03 17:01:12,90474,APPROACHING,119,30189,6021,2018-08-03 17:01:12
2018-08-03 17:19:12,98607,APPROACHING,119,30189,6018,2018-08-03 17:19:12
2018-08-03 17:19:36,98844,APPROACHING,119,30189,6018,2018-08-03 17:19:36
2018-08-03 23:42:22,106918,APPROACHING,119,30189,6009,2018-08-03 23:42:22
2018-08-03 23:42:43,106976,APPROACHING,119,30189,6009,2018-08-03 23:42:43

In [12]:
# split at each change in vehicle id (v)
# per https://stackoverflow.com/questions/41144231/python-how-to-split-pandas-dataframe-into-subsets-based-on-the-value-in-the-fir

final_approach_dfs = [g for i,g in df.groupby(df['v'].ne(df['v'].shift()).cumsum())]

In [13]:
# v1 - outputs a dataframe
# take the last V in the group
# add it to a list of arrivals

arrivals_list_final_df = pd.DataFrame()
for final_approach in final_approach_dfs:                 # iterate over every final approach    
    arrival_insert_df=final_approach.tail(1)              # take the last observation
    arrivals_list_final_df = arrivals_list_final_df.append(arrival_insert_df)      # insert into df

arrivals_list_final_df.head()

,pkey,pt,rd,stop_id,v,timestamp
timestamp,,,,,,
2018-08-02 16:54:36,601,APPROACHING,119,30189,6010,2018-08-02 16:54:36
2018-08-02 17:21:12,6702,APPROACHING,119,30189,6047,2018-08-02 17:21:12
2018-08-02 17:53:25,21457,APPROACHING,119,30189,6028,2018-08-02 17:53:25
2018-08-03 08:41:20,52532,APPROACHING,119,30189,6022,2018-08-03 08:41:20
2018-08-03 08:57:44,62503,APPROACHING,119,30189,6020,2018-08-03 08:57:44

In [ ]:
## what now? turn into a list, for the flask template to iterate? or write a function to turn the df into a list, then paste code back into ReportCard.py:def.getarrivals1

## or maybe now it would be good for it to be a list of dicts?

# scraps

In [15]:
# compute time difference 
# df['delta']=df['timestamp'] - df['timestamp'].shift(1)

In [14]:
# #v2 unused - outputs a list of dicts

# # take the last V in the group
# # add it to a list of arrivals

# arrivals=[]                                               # final output list of arrivals

# for final_approach in final_approach_dfs:                 # iterate over every final approach

#     arrival_df=final_approach.tail(1)                     # take the last observation
#     arrival_list_of_dict=arrival_df.to_dict('records')    # turn it into a dict and put it in a list container
#     arrivals.append(arrival_list_of_dict[0])              # extract and append that dict to the final output list of arrivals

    
# ## this works - but do i want the arrivals in a list of dicts?